<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BossArenaRandomizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BossArenaRandomizer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BossArenaRandomizer.Properties.Settings>
            <setting name="OutputFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedOptionsPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="UseBetterArenas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseArenaSizeRestriction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseArenaDifficultyRestrict" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUsedArenaPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedBossPreset" serializeAs="String">
                <value />
            </setting>
        </BossArenaRandomizer.Properties.Settings>
        <BossArenaRandomizer.Settings>
            <setting name="OutputFilePath" serializeAs="String">
                <value />
            </setting>
        </BossArenaRandomizer.Settings>
    </userSettings>
</configuration>